@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

.hero {
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.big-hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.little-hero {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.img {
    color: #e5e7eb;
}