@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

.hero {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
}